body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(18, 18, 18);
    font-family: Arial, Helvetica, sans-serif;
}
#search {
    margin-top: 20px;
}
.naglowek {
    background-image: url(http://i8.photobucket.com/albums/a36/fangboy199/Wallpapers/Black.jpg);
    color: #ff0000;
    height: 200px;
    width: 100%;
    background-color: #0000ff;
}

.stopka {
    background-image: url(http://i8.photobucket.com/albums/a36/fangboy199/Wallpapers/Black.jpg);
    color: #ffffff;
    font-family: impact;
    height: 50px;
    width: 100%;
    background-color: #0000ff;
}

.naglowek #logo{
    float:left;
    margin-left: 10px;
    margin-top: 20px;
}

.naglowek #menu{
    float:right;
    margin-right: 200px;
    margin-top: 16px;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: bold;
}

.link{
    color: #f5f5f5;
    font-size: 15px;
    font-weight: bold;
}

.linkia{
    color: #f5f5f5;
    text-decoration: none;
}

.naglowek #menu a{
    color: #f5f5f5;
    text-decoration: none;
    margin-right: 5px;
}

.naglowek #menu a:hover {
    color: orangered;
    font-size: 18px;
    font-weight: bold;
}

.obrazek {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: 100px;
}

.three .obrazek {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: 200px;
}

.katalog {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 200px;
}

.content {
    background-color: #000000;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 20px;
}
.shot1 {
    background-color: #181818;
    padding: 30px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -khtml-border-radius-topright: 8px;
    -khtml-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px !important;
    -webkit-border-bottom-left-radius: 8px !important;
    -khtml-border-radius-bottomright: 8px !important;
    -khtml-border-radius-bottomleft: 8px !important;
    -moz-border-radius-bottomright: 8px !important;
    -moz-border-radius-bottomleft: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.shot3 {
    background-color: #181818;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -khtml-border-radius-topright: 8px;
    -khtml-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px !important;
    -webkit-border-bottom-left-radius: 8px !important;
    -khtml-border-radius-bottomright: 8px !important;
    -khtml-border-radius-bottomleft: 8px !important;
    -moz-border-radius-bottomright: 8px !important;
    -moz-border-radius-bottomleft: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.shot5 {
    background-color: #181818;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -khtml-border-radius-topright: 8px;
    -khtml-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px !important;
    -webkit-border-bottom-left-radius: 8px !important;
    -khtml-border-radius-bottomright: 8px !important;
    -khtml-border-radius-bottomleft: 8px !important;
    -moz-border-radius-bottomright: 8px !important;
    -moz-border-radius-bottomleft: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.single_image {
    width: 100%;
}

.three {
    float: left;
    width: 233px;
}

.five {
    float: left;
    width: 140px;
}

.odnosnik {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-family: impact;
    margin-bottom: 20px;
}

.napisy {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-family: impact;
}

.odnosnik a {
    border: 1px solid;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-family: impact;
    text-align: center;
}

.odnosnik a:hover {
    border: 1px solid;
    text-decoration: underline;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
    font-family: impact;
}