{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="odnosnik">
         <a href="{{ url_for('delete_image', image_name=image) }}">USUŃ OBRAZEK</a>
         <a href="{{ url_for('downloadImageAsZipFile', image_name=image) }}">POBIERZ OBRAZEK</a>
        </br>
    </div>
    <div class="span8">
        <div class="row">
            <div class="shot1">
                    <img style="text-align: center;" class="single_image" src="{{ url_for('static', filename='upload/'+image) }}" alt="{{ image }}"> </img>
            </div>
        </div>
    </div>
</div>
{% endblock %}