{% extends "layout.html" %}

{% block header %}
<a href="{{ url_for('list') }}">Index</a>
<a href="{{ url_for('upload') }}">Upload</a>
<a href="{{ url_for('images') }}">Images</a>
{% endblock %}

{% block body %}
<div class="row">
    <div class="span8">
        <h2 class="offset2">Image</h2>
        <div class="row">
            <div class="napisy">
                <h1>ZDJĘCIE ZOSTAŁO USUNIĘTE POMYŚLNIE! :)</h1>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
            </div>
        </div>
    </div>
</div>
{% endblock %}