<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Podrobka demotywatorow xD</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div class="container">
            <div class="naglowek">
                <div id="logo">
                    <a href="/"><img src="http://upload.wikimedia.org/wikipedia/commons/d/d2/Demotywatory-logo.gif"/></a>
                </div>
                <div id="menu">
                    <h3>
                        <a style="border: 1px solid" href="{{ url_for('login') }}">ZALOGUJ SIĘ</a>
                        <a style="border: 1px solid" href="{{ url_for('upload') }}">DODAJ OBRAZEK</a>
                        <a style="border: 1px solid" href="{{ url_for('images') }}">WSZYSTKIE OBRAZKI</a>
                        <a style="border: 1px solid" href="{{ url_for('zip_images') }}">POBIERZ WSZYSTKIE OBRAZKI</a>

                    </h3></div>
                </div>
            </div>
            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class="stopka">
            P8    Paweł Koźbiał     Minh Thang Tran
        </div>
    </body>
</html>