{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="napisy">
        <h2>LOGOWANIE DO GALERII ZDJĘĆ:</h2>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="napisy">
                <label for="username">UŻYTKOWNIK:</label>
                </br>
                <input type="text" name="username" id="username"/>
                </br>
                <label for="password">HASŁO:</label>
                </br>
                <input type="password" name="password" id="password"/>
                </br>
            </div>
            <button type="submit" name="login" class="btn btn-primary pull-right">ZALOGUJ!</button>
        </form>
    </div>
</div>
{% endblock %}