{% extends "layout.html" %}

{% block header %}
        <a href="{{ url_for('list') }}">Index</a>
        Upload
        <a href="{{ url_for('images') }}">Images</a>
{% endblock %}

{% block body %}
<div class="row">
    <div class="span8">
        <h2 class="offset2">Upload</h2>
        <div class="row">
            <div class="napisy">
                <h3>PODAJ ŚCIEŻKĘ DO OBRAZKA:</h3>
                </br>
                <form action="{{ url_for('uploaded') }}" enctype=multipart/form-data method="post">
                    <input type="file" multiple name="image[]"/><br/>
                    </br>
                    <input type="submit" value="DODAJ OBRAZEK!"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
